<div class="container-fluid mt-5">
  <food-combo></food-combo>
  &nbsp;&nbsp;
  <br />
  <br />
  <div class="GSlider">
    <div class="col" style="display: flex">
      <div class="col-md-3" *ngFor="let category of data">
        <div [ngClass]="{ 'disabled-card': !category.avilable }">
          <div
            class="card mb-4"
            (click)="navigateToDetail(category.name)"
            style="cursor: pointer"
          >
            <img
              [src]="category.imgUrl"
              alt="img"
              class="card-img-top GImg"
              alt="item"
            />
            <div class="card-body">
              <h5 class="card-title">{{ category.name }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="display: flex">
    <div class="col-md-6">
      <h5 class="card-title">LOCATION</h5>
      <div class="card mb-4">
        <div class="card-body" id="map" style="height: 400px"></div>
      </div>
    </div>

    <div class="col-md-6" style="display: flex">
      <div class="col-md-4">
        <div class="card mb-4">
          <img
            src="../../../../assets/Combo/Rooms.jpg"
            alt="img"
            class="card-img-top"
            alt="item"
          />

          <h5 class="card-title">Family Space</h5>
        </div>

        <div class="card mb-4">
          <img
            src="../../../../assets/Combo/waitingarea.jpg"
            alt="img"
            class="card-img-top"
            alt="item"
          />

          <h5 class="card-title">Waiting Area</h5>
        </div>

        <div class="card mb-4">
          <img
            src="../../../../assets/Combo/firstRoom.jpg"
            alt="img"
            class="card-img-top"
            alt="item"
          />

          <h5 class="card-title">Waiting Area</h5>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <img
            src="../../../../assets/Combo/wellcome.jpg"
            alt="img"
            class="card-img-top"
            alt="item"
          />

          <h5 class="card-title">Special Atraction</h5>
        </div>
        <div class="card mb-4">
          <img
            src="../../../../assets/Combo/tables.jpg"
            alt="img"
            class="card-img-top"
            alt="item"
          />
          <h5 class="card-title">TABLES</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet>
</router-outlet>