/* You can add global styles to this file, and also import other style files */
body{
  font-family: "Sofia", sans-serif;
  margin: 1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary: #f05a0a;
  --secondary: #f8fdf9;
  --light: #fafafb;
  --dark: #12141d;
  --text-color: #fff;
  
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --align-items: stretch;
    --gap: 10px 10px;
    --background-transition: 0.3s;
    --overlay-opacity: 0.56;
    --margin-block-start: -130px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 250px;
    --padding-block-end: 0100px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: center;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px;
  
}


a {
  text-decoration: none !important;
}

/* Card  */
.card-title {
  text-align: center;
}
.card:hover {
  transform: translatex(-15px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s;
}
.card{
  height: 200px;
  width: 200px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}
.GSlider {
  max-width: auto;
  overflow: auto;
  white-space: nowrap;
}
.GImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* card  -end */
.footer {
  background-color: #f8f9fa;
  border-color: 1px solid #dee2e6;
}


/* casuvals */
.Gcarousel-image {
  max-height: 400px; /* Set your desired maximum height */
  width: auto; /* Allow the width to adjust automatically */
  margin: 0 auto; /* Center the image horizontally */
}
.carousel-caption h1 span {
  color: #ef101fec; /* Highlight color for the "10% OFF" text */
}
.carousel-caption{
  font-size: 30px;
 
}
.carousel-caption h1,
.carousel-caption p {
  margin: 0;
  /* padding: 10px; */
}
.glass-effect .dark {
  color: #fdfbfb; /* Text color on the dark glass background */
}
.glass-effect {
  position: relative;
  background: linear-gradient(
    0deg,
    rgb(0, 72, 148) 60%,
    transparent 80%
  ),
  #010e21fd; /* Adjust the alpha value for the desired transparency */
  overflow: hidden;
}

.glass-effect img {
  width: 100%;
  height: auto;
  opacity: 0.7; /* Adjust the opacity for the desired level of transparency */
  
}
/* carsoal en */

/* more then 992 */
@media (max-width: 992px) {
  .GImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .Gcarousel-image {
    max-height: 400px; /* Set your desired maximum height */
    width: auto; /* Allow the width to adjust automatically */
    margin: 0 auto; /* Center the image horizontally */
  }

  .carousel-image {
    max-height: 500px; /* Set the maximum height for large screens */
  }
  .carousel-caption{
    font-size: 15px;
   
  }
  
}



