<br />
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ComboOffer</title>
</head>

<body>
  <div class="grid" >
    <div *ngFor="let data of data ;let i = index" class="grid-item" [@slideIn]>
      <div class="card1" >
        <img [src]="data.imgUrl" class="img">
        <div class="card-content">
          <div class="price">{{data.price}}</div>
          <div class="description">{{data.discription}}</div>
          <a (click)="openDilog(data)" style="color: red; cursor: pointer;;">View</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>