.card .card-body img{
    height: 200px;
}

.card{
    border:none;
    transition: transform 0.2s;
}
.card-title{
    text-align: center;
}
.card:hover{
    transition: transform 0.6s;
    transform: translate(5px);
    box-shadow: 0px 10px 10px 10px rgba(246, 189, 173, 0.681);
}

@media (min-width: 992px) {
   
    .carousel-image {
        max-height: 500px; /* Set the maximum height for large screens */
      }
   
  }
