<br>
<br><br>

<body>

    <body class="img" style="
background-image: url(&quot;../../../../../assets/background/bg2.jpeg&quot;); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
  " class="container-fluid">
        <br>
        <div class="">

            <div class="col ">

                <div class="col-sm-12 col-md-6 col-md-12" *ngFor="let foodType of foodTypes">
                    <div style="flex: 0 0 auto; ">
                        <h3>{{ foodType }}</h3>
                        <div style="overflow-x: auto; position: relative;">
                            <div
                                style="display: flex; flex-wrap: nowrap; padding: 20px; justify-content: space-between; position: relative;">

                                <div class="card" *ngFor="let foodItem of structuredFoodType[foodType]"
                                    style="flex: 0 0 auto; padding: 20px; background: #edefe95e; ">
                                    <img [src]="foodItem.url" alt="img" class="card-img-top GImg" alt="item" />
                                    <div class="card-body">
                                        <h5 class="card-title">{{ foodItem.name }}</h5>
                                        <p>Price: ${{ foodItem.price }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </body>
    <router-outlet></router-outlet>