<br>

<head>
</head>

<body class="img"  class="container-fluid">

    <ul class="list-group" *ngFor="let foodType of foodTypes">
        <li class="card list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let foodItem of structuredFoodType[foodType]" >
            <img [src]="foodItem.url" alt="img" class="card-img-top GImg" alt="item"
           
             />
            <div class="card-body">
                <h5 class="card-title">{{ foodItem.name }}</h5>
                <p>Price: ${{ foodItem.price }}</p>
            </div>
            <!-- <button (click)="showFoodItemDetails(foodItem)"  data-bs-toggle="modal" data-bs-target="#exampleModal" >show</button> -->
           
        </li>
    </ul>
    

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="selectedFoodItem">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ selectedFoodItem.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Price: ${{ selectedFoodItem.price }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    

</body>
<router-outlet></router-outlet>