<div *ngIf="isLoading" class="common_loading">
  <mat-spinner></mat-spinner>
</div>
<section *ngIf="!isLoading">
  <section style="flex-direction: row;
box-sizing: border-box;
display: flex;
padding-left: 10px;
padding-right: 10px;
place-content: center space-between;
align-items: center;">
    <div>
      <mat-form-field style="width: 200px; height: 75px;">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix class="material-icons-outlined">search</mat-icon>
        <input matInput placeholder="Find By Name" [formControl]="searchItems" />
      </mat-form-field>
    </div>
    <div>
      <button mat-flat-button color="primary" routerLink="create_item">
        Create
      </button>
    </div>
  </section>
  <section class="table-Over-Flow-Globle">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element">
          <img *ngIf="element.image_data" [src]="element.image_data" alt="Image"
            style="max-width: 100px; max-height: 100px;">
          <img *ngIf="!element.image_data" src="../../../../../assets/defaultimg.jpg" alt="Image"
            style="max-width: 100px; max-height: 100px;">
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="offer">
        <th mat-header-cell *matHeaderCellDef>Offer</th>
        <td mat-cell *matCellDef="let element">{{ element.offer }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.category.name }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="foodtype">
        <th mat-header-cell *matHeaderCellDef>Foodtype</th>
        <td mat-cell *matCellDef="let element">{{ element.foodtype?.name }}</td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">{{element.foodsize?.name}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="!element.status; else activeStatus">
            Inactive
          </ng-container>
          <ng-template #activeStatus>
            Active
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="!element.type; else vegStatus">
            <img src="../../../../../assets/icon_veg_nonveg/icons8-non-veg-30.png" alt="Vegetables Image"
              style="width: 24px; height: 24px; margin-left: 8px;">
          </ng-container>
          <ng-template #vegStatus>
            <img src="../../../../../assets/icon_veg_nonveg/icons8-veg-32.png" alt="Vegetables Image"
              style="width: 24px; height: 24px; margin-left: 8px;">
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="material-icons-outlined">more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="condensed-menu">
            <button mat-menu-item (click)="onUpdateHandler(element)">
              <mat-icon class="material-icons-outlined">edit</mat-icon>
              Update
            </button>
            <button mat-menu-item (click)="onDeleteHandler(element.id)" color="warn">
              <mat-icon class="material-icons-outlined">delete</mat-icon>
              Delete
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</section>