<div class="container " id="location">
    <div class="row">
      <div class="col-md-6 mb-4">
        <!-- Photo grid -->
        <div class="grid">
          <div class="photo">
            <img src="../../../../assets/Combo/firstRoom.jpg" alt="Photo 1">
          </div>
          <div class="photo">
            <img src="../../../../assets/Combo/Rooms.jpg" alt="Photo 2">
          </div>
          <div class="photo">
            <img src="../../../../assets/Combo/Rooms.jpg" alt="Photo 2">
          </div>
          <div class="photo">
            <img src="../../../../assets/Combo/Rooms.jpg" alt="Photo 2">
          </div>
          <div class="photo">
            <img src="../../../../assets/Combo/Rooms.jpg" alt="Photo 2">
          </div>
          <!-- Add more photos as needed -->
        </div>
      </div>
      
      <div class="col-md-6">
        <!-- Map section -->
        <div id="map" style="height: 300px;"></div>
      </div>
      
    </div>
  </div>