<section>
  <div class="img-container">
    <div class="glass">
      <div class="e-con-inner">
        <div class="e-con-inner-inner">
          <div class="inner-img">
            <div class="inner-img-text text-color">
              <h1 class="">Where is Arabic Mandi</h1>
              <h2 style="text-align: center">
                <a
                  href="https://www.google.com/search?sca_esv=570249222&hl=en-IN&gl=IN&sxsrf=AM9HkKkNj0QhtYkxZOzbd4y4JSLwuycE4Q:1696305904287&q=Arabic+Mandi+Multicuisine+Restaurent&ludocid=17657452288862018514&ibp=gwp;0,7&lsig=AB86z5XYk3dnQIsM2nhK_UEc0TrJ&kgs=a5b8c4b76716e17a&shndl=-1&shem=lbsc,lsp&source=sh/x/kp/local/m1/2"
                  >Navigate</a
                >
              </h2>
            </div>
          </div>

          <div class="  ">
            <div class="">
              <div class="inner-text-two text-color">
                <!-- "Mandi, a culinary gem of the Arabian Peninsula, is now at Arabic Mandi Multicuisine Restaurant. Our location offers you
                the opportunity to savor the rich and aromatic flavors of Mandi, a dish celebrated for its fragrant
                spices and tender, slow-cooked meat. With every bite, you'll experience a symphony of flavors that
                transport you to the heart of Arabian hospitality. At Arabic Mandi Multicuisine Restaurant., we bring the essence of Mandi
                to your table, where tradition and taste harmonize to create an unforgettable dining experience.     -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br />
<section class="section2" [@fadeIn1]>
  <div class="">
    <div class="e-con-inner">
      <div class="section2-e-con-inner-inner">
        <div class=" ">
          <div class="">
            <h2 class="">Where is Arabic Mandi</h2>
          </div>
        </div>
      </div>
      <div class="">
        <div class="">
          <div class="section2-inner-text">
            <div class="elementor-text-editor elementor-clearfix">
              "Mandi, a culinary gem of the Arabian Peninsula, is now at
              <h2>Arabic Mandi Multicuisine Restaurant</h2>
              . Our location offers you the opportunity to savor the rich and
              aromatic flavors of Mandi, a dish celebrated for its fragrant
              spices and tender, slow-cooked meat. With every bite, you'll
              experience a symphony of flavors that transport you to the heart
              of Arabian hospitality. At Arabic Mandi Multicuisine Restaurant,
              we bring the essence of Mandi to your table, where tradition and
              taste harmonize to create an unforgettable dining experience.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="section2">
  <div id="location" [@fadeIn1]>
    <div class="row">
      <div class="col-md-6">
        <!-- Map section -->
        <div id="map" class="location"></div>
      </div>
      <div class="col-md-6 mb-4 grid">
        <!-- Photo grid -->
        <div style="overflow: hidden" *ngFor="let d of galleryImg">
          <div class="photo">
            <img [src]="d.url" [alt]="d.alt" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

