.disabled-card {
  opacity: 0.6;
  /* Reduce opacity to make the card appear disabled */
  pointer-events: none;
  /* Disable mouse interactions on the card */
  /* Add any other styling to indicate it's disabled */
}

h3{
  font-size: medium;
}

.row {
  --bs-gutter-x: 1.5rem;
}

.row>* {
  flex-shrink: 0;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

/* map */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.photo {
  text-align: center;
}

.photo img {
  max-width: 100%;
  height: auto;
}

.section2 {
  padding-block-start: 50px;
  padding-block-end: 50px;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
}

.section2 .e-con-inner {
  /* padding: 0px 0px 0px 100px; */
  font-style: italic;
  text-align: center;
  display: flex;
}

.section2-e-con-inner-inner {
  width: 50%;
}

.secxtion2-inner-text {
  padding: 0px 0px 70px 0px;
}

.elements {
  background-color: var(--e-global-color-51ddcf4);
  background-image: url('../../../../assets/mainpage/dazzle5.png');
  background-size: cover;
  width: 100%;
  // height: 600px;
}

.elementor-heading-title {
  text-align: center;
  /* padding-top: 2rem; */
  color: white;
}

.category-info h2 {
  position: absolute;
  left: 0;
  z-index: 1;
  bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  color: #fafcff;
  text-shadow: -3px -3px 7px #212529;
}

.category-section {
  margin: 3px;
}

.category-wrapper {
  display: flex;
  flex-direction: row;
  border: 0px;
  height: 250px;
}

.category-info {
  display: flex;
  position: relative;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Add shadow effect */
  background-color: rgba(255, 255, 255, 0.8);
  /* Add background color */
  border-radius: 20px;
  margin-left: 4px;
}

.category-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(1 1 1), rgb(239 117 117 / 0%));
  z-index: 0;
  // border: 1px solid black;
  border-radius: 20px;
  /* Ensure the shadow is behind the image */
}


.category-info img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
  margin-left: 10px;
}

.items-wrapper {
  overflow-y: scroll;
  flex-basis: min-content;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 20px;

}

.items-wrapper .item {
  position: relative;
  margin-right: 10px;
  border-radius: 30px;
  height: -webkit-fill-available;
  box-shadow: 0 2px 4px rgba(0 0 0 / 46%);
  padding: 10px;
}

.items-wrapper .item img::after {
  transition: filter 0.2s ease-in-out;
}


.items-wrapper .item:hover img {
  filter: brightness(50%);
  border: 1px solid rgba(1, 1, 1, 0);
  width: 150px;
  height: 180px;
  object-fit: fill;
  border-radius: 20px 20px 0px 0px;
  /* Make the image black on hover */
}

.items-wrapper .item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  /* Make the image black on hover */
}

.items-wrapper .item-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // padding: 10px;
  border-radius: 5px;
  color: #f3f3f4fe;
  display: none;
  /* Initially hidden */
}

.items-wrapper .item:hover .item-details {
  display: block;
  /* Show on hover */
}

.section4 {
  position: relative;
  width: 100%;
  height: 300px;
  /* Set the desired height */
  overflow: hidden;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  /* Ensure the image does not exceed the container width */
  max-height: 100%;
  /* Ensure the image does not exceed the container height */
  height: auto;
}


/* Small screens */
@media (max-width: 768px) {
  .section4 {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .category-wrapper {
    flex-direction: row;
    /* Change to column layout for small screens */
    height: 200px;
    /* Allow height to adjust based on content */
    width: 100%;
  }

  .category-info {
    height: 200px;
    /* Set a fixed height */
    width: 170px;
    /* Expand to fill the container */
    display: flex;
    /* Ensure flex layout */
    align-items: center;
    /* Center items vertically */
    justify-content: space-between;
    /* Align items with space between them */
    margin: 4px;
    /* Reduce margin for smaller spacing */
    padding: 10px;
    /* Add padding for better spacing */
  }

  .category-info h2 {
    position: absolute;
    font-size: 15px;
    left: 0;
    z-index: 1;
    bottom: 10px;
    padding-left: 10px;
    // padding-right: 10px;
    overflow: hidden;
    color: #fafcff;
    text-shadow: -3px -3px 7px #212529;
  }

  .category-info img {
    height: 130px;
    /* Set a fixed height */
    width: 130px;
    /* Adjust image size */
    object-fit: cover;
    /* Preserve aspect ratio */
    margin: 0px;
  }

  .items-wrapper {
    padding: 10px;
    /* Add padding for better spacing */
  }

  .items-wrapper .item {
    // width: 100%;
    /* Make items fill the container width */
    margin: 10px 10px;
    /* Adjust margin for spacing */
  }

  .items-wrapper .item img {
    border-radius: 30px;
    /* Reduce border radius */
    width: 100px;
    height: 100px;

  }
 

  .items-wrapper .item:hover img {
    filter: brightness(50%);
    border: 1px solid rgba(1, 1, 1, 0);
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
    /* Make the image black on hover */
  }

  .items-wrapper .item img::after {
    transition: filter 0.3s ease-in-out;
  }

  .category-info::before {
    height: 200px;
    /* Set a fixed height */
    width: -webkit-fill-available;
    /* Expand to fill the container */
    display: flex;
    /* Ensure flex layout */
    align-items: center;
    /* Center items vertically */
    justify-content: space-between;
    background: linear-gradient(to top, rgb(1, 1, 1), rgba(239, 117, 117, 0));
    z-index: 0;
    border-radius: 20px;
  }

}

@media (max-width: 992px) {
  .elements {
    background-size: cover;
    width: 100%;
    // height: 300px;
  }

  .section2-e-con-inner-inner {
    width: 50%;
  }

  .section2 .e-con-inner {
    /* padding: 0px 0px 0px 100px; */
    font-style: italic;
    justify-items: center;
    display: grid;
  }

  .section2 {
    padding-block-start: 20px;
    /* padding-block-end: 0px; */
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .row {
    --bs-gutter-x: 0rem;
  }

  .row>* {
    flex-shrink: 0;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-gap: 10px;
  }

  .section4 {
    position: relative;
    width: 100%;
    height: 200px;
    /* Set the desired height */
    overflow: hidden;
  }

  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}