.disabled-card {
  opacity: 0.6; /* Reduce opacity to make the card appear disabled */
  pointer-events: none; /* Disable mouse interactions on the card */
  /* Add any other styling to indicate it's disabled */
}
.row {
  --bs-gutter-x: 1.5rem;
}
.row > * {
  flex-shrink: 0;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

/* map */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.photo {
  text-align: center;
}

.photo img {
  max-width: 100%;
  height: auto;
}

.section2 {
  padding-block-start: 50px;
  padding-block-end: 50px;
  padding-inline-start: 50px;
  padding-inline-end: 50px;
}
.section2 .e-con-inner {
  /* padding: 0px 0px 0px 100px; */
  font-style: italic;
  text-align: center;
  display: flex;
}

.section2-e-con-inner-inner {
  width: 50%;
}
.secxtion2-inner-text {
  padding: 0px 0px 70px 0px;
}
.elements{
  background-color: var(--e-global-color-51ddcf4);
  background-image: url('../../../../assets/mainpage/dazzle5.png');
  background-size: cover;
  width: 100%;
  height: 400px;
}
.elementor-heading-title{
  text-align: center;
  /* padding-top: 2rem; */
  color: white;
}
@media (max-width: 992px) {
  .elements{
    background-color: var(--e-global-color-51ddcf4);
    background-image: url('../../../../assets/mainpage/dazzle5.png');
    background-size: cover;
    width: 100%;
    height: 100px;
}
  .section2-e-con-inner-inner {
    width: 50%;
  }
  .section2 .e-con-inner {
    /* padding: 0px 0px 0px 100px; */
    font-style: italic;
    justify-items: center;
    display: grid;
  }
  .section2 {
    padding-block-start: 20px;
    /* padding-block-end: 0px; */
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }
  .row {
    --bs-gutter-x: 0rem;
  }
  .row > * {
    flex-shrink: 0;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-gap: 10px;
  }

 
  
}


/* @media (min-width: 768px) {
  .col-md-3 {
    flex: 2 0 auto;
    width: 0%;
  }
} */
