<div class="container-fluid mt-5" >
    <div class="row">
      <div id="myCarousel" class="carousel slide col-md-12" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" [attr.data-slide-to]="i" [class.active]="i === 0"
            *ngFor="let combo of dataCombo; let i = index"></li>
        </ol>

        <!-- Slides -->
        <div class="carousel-inner col-md-12">
          <div class="carousel-item" *ngFor="let combo of dataCombo; let i = index" [class.active]="i === 0">
            <!-- Apply the glass effect to the image -->
            <div class="glass-effect">
              <img [src]="combo.imgUrl" [alt]="combo.name" class="d-block w-100 img-fluid Gcarousel-image">
              <div class="carousel-caption ">
                <h3>Special Offer For {{ combo.name }}</h3>
                <br>
                <h1>Today <span>10% OFF</span></h1>
                <br>
                <p>{{ combo.discription }}</p>
                <p>Price: ${{ combo.price }}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    &nbsp;
  </div>