<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div id="header">
    <section style="
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  place-content: center space-between;
  align-items: center;">
      <div>
        <mat-form-field style="width: 200px; height: 75px;">
          <mat-label>Search</mat-label>
          <mat-icon matPrefix class="material-icons-outlined">search</mat-icon>
          <input matInput placeholder="Find By Name" [formControl]="searchItems" />
        </mat-form-field>
      </div>
      <div>
        <button mat-flat-button color="primary" routerLink="create_item">
          Create
        </button>
      </div>
    </section>
  </div>
  <section class="mat-elevation-z8  table-Over-Flow-Globle">
    <table mat-table [dataSource]="dataSource">
      <!-- Item image Column -->
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <img *ngIf="element.image_data" [src]="element.image_data" alt="Image"
            style="max-width: 50px; max-height: 50px;">
          <img *ngIf="!element.image_data" src="../../../../../assets/defaultimg.jpg" alt="Image"
            style="max-width: 50px; max-height: 50px;">
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="offer">
        <mat-header-cell *matHeaderCellDef>Offer</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.offer }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.category.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.price }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="foodtype">
        <mat-header-cell *matHeaderCellDef>Foodtype</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.foodtype?.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.foodsize?.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="!element.status; else activeStatus">
            Inactive
          </ng-container>
          <ng-template #activeStatus>
            Active
          </ng-template>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="!element.type; else vegStatus">
            <img src="../../../../../assets/icon_veg_nonveg/icons8-non-veg-30.png" alt="Vegetables Image"
              style="width: 24px; height: 24px; margin-left: 8px;">
          </ng-container>
          <ng-template #vegStatus>
            <img src="../../../../../assets/icon_veg_nonveg/icons8-veg-32.png" alt="Vegetables Image"
              style="width: 24px; height: 24px; margin-left: 8px;">
          </ng-template>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon class="material-icons-outlined">more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="condensed-menu">
            <button mat-menu-item (click)="onUpdateHandler(element)">
              <mat-icon class="material-icons-outlined">edit</mat-icon>
              Update
            </button>
            <button mat-menu-item (click)="onDeleteHandler(element.id)" color="warn">
              <mat-icon class="material-icons-outlined">delete</mat-icon>
              Delete
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <!-- Header Rows -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
  </section>
  <mat-paginator #paginator style="width: initial;" [pageSizeOptions]="[10]"></mat-paginator>

</body>

</html>