// $font-family: 'Open Sans', sans-serif;
$font-family: "'Sofia', sans-serif";
$heading-font-family: 'Raleway', sans-serif;
$dark-color: #260944;
$para-color: #2F2F6A;
$background-color: #f5f5f5;
$alt-background-color: #f7faff;
$box-shadow: 0 4px 20px #2f8fe812 !important;
$white: #ffffff;
$font-size: 15px;
