<div class="modal fade show" tabindex="-1" aria-labelledby="foodDetailsModalLabel"
    style="display: block; background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="foodDetailsModalLabel">Food Item Details</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body">
                <section style="flex-direction: row;
                    box-sizing: border-box;
                    display: flex;
                    place-content: center space-between;
                    align-items: center;">
                    <form [formGroup]="newCategory">
                        <mat-form-field>
                            <mat-label> Category Name</mat-label>
                            <input matInput formControlName="category_name" placeholder="name">
                        </mat-form-field>
                        <br>
                        <button mat-raised-button color="warn" (click)="onSubmitHandler(newCategory.value)">Add
                            Category</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>