<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Arabic Mandi</title>

</head>

<body>
  <header class="fixed-top">
    <mat-toolbar color="acent">
      <div fxShow="true" fxHide.gt-sm="false">
        <!-- <button class="icon-container" mat-icon-button (click)="sidenav.toggle()"> -->
        <button class="icon-container" mat-icon-button>
          <img src="../../../assets/carousel/bg1.jpeg" alt="User Image" class="user-image" />
        </button>
      </div>

      <span class="example-spacer"></span>

      <div fxShow="true" fxHide.lt-md="true">
        <ng-container *ngFor="let item of menuItems">
          <a *ngIf="!item.child && item.permissions && item.permissions.includes(userRole)" mat-button
            [routerLink]="[item.link]">
            <ng-container *ngIf="item.header !== false; else regular">
              <h1 class="title">{{ item.label }}</h1>
            </ng-container>
            <ng-template #regular>
              {{ item.label }}
            </ng-template>
          </a>

          <ng-container *ngIf="item.child && item.permissions && item.permissions.includes(userRole)">
            <button mat-button [matMenuTriggerFor]="childMenu">
              <ng-container *ngIf="item.header !== false; else regular">
                <h1 class="title">{{ item.label }}</h1>
              </ng-container>
              <ng-template #regular>
                {{ item.label }}
              </ng-template>
            </button>

            <mat-menu #childMenu="matMenu">
              <ng-container *ngFor="let childItem of item.child">
                <button mat-menu-item [routerLink]="[childItem.link]"
                  *ngIf="childItem.permissions && childItem.permissions.includes(userRole)">
                  <mat-icon>{{ childItem.icon }}</mat-icon>
                  <div>{{ childItem.label }}</div>
                </button>
              </ng-container>
            </mat-menu>
          </ng-container>
        </ng-container>
      </div>
      <span class="example-spacer"></span>
      <h1 class="title" fxShow="true" fxHide.gt-sm="true">Arabic Mandi</h1>

      <button mat-icon-button (click)="logOut()" *ngIf="isCurrentUserAvailable()">
        <mat-icon>logout</mat-icon>

      </button>
    </mat-toolbar>
  </header>
  <div class="content ">
    <router-outlet>
     </router-outlet>
     <section class="rights">
      <Copy-Rights></Copy-Rights> 
     </section>
  </div>
</body>

<footer class="fixed-bottom">
  <mat-toolbar color="warn" fxLayout="row" fxLayoutAlign="space-between center">
    <ng-container *ngFor="let item of menuItems">
      <ng-container *ngIf="hasPermission(item.permissions)">
        <button mat-icon-button class="example-icon" [routerLink]="[item.link]"
          aria-label="Example icon-button with menu icon"
          *ngIf="!item.child && item.header === false && !item.submenu === true && hasPermission(item.permissions)">
          <div class="icon-container">
            <mat-icon>{{ item.icon }}</mat-icon>
            <div class="button-label">{{ item.label }}</div>
          </div>
        </button>

        <button mat-icon-button class="example-icon" [routerLink]="[item.link]"
          aria-label="Example icon-button with menu icon"
          *ngIf="!item.child && item.header === false && item.submenu && hasPermission(['user'])">
          <div class="icon-container">
            <mat-icon>{{ item.icon }}</mat-icon>
            <div class="button-label">{{ item.label }}</div>
          </div>
        </button>

        <ng-container *ngIf="item.child">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            [matMenuTriggerFor]="childMenu">
            <div class="icon-container">
              <mat-icon>{{ item.icon }}</mat-icon>
              <div class="button-label">{{ item.label }}</div>
            </div>
          </button>

          <mat-menu #childMenu="matMenu">
            <ng-container *ngFor="let childItem of item.child">
              <button mat-menu-item [routerLink]="[childItem.link]" *ngIf="hasPermission(childItem.permissions)">
                {{ childItem.label }}
              </button>
            </ng-container>
          </mat-menu>
        </ng-container>
      </ng-container>
    </ng-container>

    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="moreMenu"
      aria-label="Example icon-button with menu icon" *ngIf="hasPermission(['admin'])">
      <div class="icon-container">
        <mat-icon>more_vert</mat-icon>
        <span class="button-label">View</span>
      </div>
    </button>
    <!-- Mat-menu for additional items -->
    <mat-menu #moreMenu="matMenu">
      <ng-container *ngFor="let subItem of menuItems">
        <button mat-menu-item [routerLink]="[subItem.link]"
          *ngIf="subItem.submenu && hasPermission(subItem.permissions)">
          <mat-icon>{{ subItem.icon }}</mat-icon>
          <div>{{ subItem.label }}</div>
        </button>
      </ng-container>
    </mat-menu>
  </mat-toolbar>
  <section class="rights">
   <Copy-Rights></Copy-Rights> 
  </section> 
</footer>
</html>
