body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.companyName {
  font-size: 150%;
}

div {
  overflow: none;
}

.space {
  font-size: 100% !important;
  text-align: center !important;
  margin-top: 200px !important;
}

a {
  text-decoration: none;
  /* font-size: 110%; */
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.title {
  font-size: 30px;
  color: var(--primary);
}

.example-height-spacer {
  margin-top: 30px;
}

.icon-container {
  display: flex;
  align-items: center;
}


.content {
  overflow-y: auto;
  min-height: 100vh;
  /* padding-top: 60px;
  padding-bottom: 40px;
  padding: 10px 0.2rem 0.2rem; */
  max-width: 100%;
}

.user-image {
  width: 100%; /* Ensure the image fills the container */
  height: 100%; /* Ensure the image fills the container */
  object-fit: cover;
  margin-left: 8px;
  border-radius: 50%;
  /* Adjust the margin to separate the icon and image */
}

.profile-icon-container {
  position: relative;
  width: 100px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  font-size: medium;
}

.fixed-top {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);

}

.fixed-bottom {
  box-shadow: 0px -3px 5px rgba(55, 55, 55, 0.5);
}

.custom-search {
  display: flex;
  align-items: center;
}

.custom-search input {
  border: 1px solid #ccc;
  border-radius: 2rem;
  padding: 2px;
  margin-left: 8px;
  outline: none;
}

.custom-search button {
  background: none;
  border: none;
  cursor: pointer;
}

.background {
  background-color: aliceblue; /* Set background color for the entire container */
}

.searchBar {
  float: left;
  white-space: pre-wrap;
  overflow: hidden;
  width: -moz-fit-content;
  width: -webkit-fill-available;
  padding-right: 100px;
  background: white;
  padding-left: 100px;
}

.searchOption:hover {
  background-color: #312929;
}

.selected {
  background-color: #bcdafa;
  color: #060404;
}



@media (max-width: 480px) {
  .custom-search input {
    margin-left: 0px;
  }
  .title {
    font-size: 1rem;
    color: var(--primary);
  }
  .fixed-top {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  }

  .fixed-bottom {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px -6px 8px rgba(0, 0, 0, 0.5);
  }

  .content {
    min-height: 100vh;
    /* padding-bottom: 3rem;
    padding: 10px 0.2rem 0.2rem;
    padding-bottom: calc(30vw - 30px); */
    max-width: 100%;
  }
  .rights {
    justify-content: center;
    display: flex;
    height: 11px;
  }
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  margin-right: 10px;
}

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 5px;
}

.example-tree div[role=group]>.mat-tree-node {
  padding-left: 10px;
}


@media only screen and (min-width: 960px) {
  .fixed-bottom {
    display: none;
  }

}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6px;
}

.button-label {
  font-size: 10px;
  margin-top: -8px;
}

@media (min-width: 1051px) {
  .custom-search input {
    border: 1px solid #ccc;
    border-radius: 2rem;
    padding: 2px;
    margin-left: 8px;
    outline: none;
    width: 15rem;
  }
}
@media (min-width: 480px) and (max-width: 1050px) {

  .mat-toolbar-single-row {
    display: flex;
    position: relative;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
    font-size: medium;
  }
  
  .custom-search input {
    border: 1px solid #ccc;
    border-radius: 2rem;
    padding: 2px;
    margin-left: 8px;
    outline: none;
    width: 15rem;
  }
  .fixed-top {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .fixed-bottom {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }

  .content {
      box-sizing: border-box;
      min-height: calc(100vh - 100px); 
  }
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
