.companyName {
  font-size: 150%;
}

div {
  overflow: none;
}

.space {
  font-size: 100% !important;
  text-align: center !important;
  margin-top: 200px !important;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.title {
  font-size: 30px;
  color: var(--primary);
}

.example-height-spacer {
  margin-top: 30px;
}

.icon-container {
  display: flex;
  align-items: center;
}


.content {
  min-height: 100vh;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 10px 0.2rem 0.2rem;
  max-width: 100%;
}

.user-image {
  width: 40px;
  /* Set the desired width for the image */
  height: 40px;
  /* Set the desired height for the image */
  border-radius: 50%;
  /* Makes the image circular */
  margin-left: 8px;
  /* Adjust the margin to separate the icon and image */
}

.fixed-top {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);

}

.fixed-bottom {
  box-shadow: 0px -3px 5px rgba(55, 55, 55, 0.5);
}


@media (max-width: 480px) {
  .fixed-top {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  }

  .fixed-bottom {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px -6px 8px rgba(0, 0, 0, 0.5);
  }

  .content {
    min-height: 100vh;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-bottom: 60px;
    padding: 10px 0.2rem 0.2rem;
    max-width: 100%;
  }
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  margin-right: 10px;
}

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 5px;
}

.example-tree div[role=group]>.mat-tree-node {
  padding-left: 10px;
}


@media only screen and (min-width: 960px) {
  .fixed-bottom {
    display: none;
  }

}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6px;
}

.button-label {
  font-size: 10px;
  margin-top: -8px;
}


@media (min-width: 480px) and (max-width: 1050px) {

  .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    font-size: medium;
  }

  .fixed-top {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .fixed-bottom {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }

  .content {
    min-height: 100vh;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px 0.5rem 0.5rem;
    max-width: 100%;
  }


}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
