<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="container-fluid">
      <nav
        class="navbar navbar-expand-lg bg-white navbar-light w-100 fixed-top shadow py-lg-0 px-4 px-lg-5"
      >
        <div class="navbar-collapse justify-content-between py-4 py-lg-0">
          <div class="navbar-nav ms-auto py-0">
            <a routerLink="home" class="nav-item nav-link">Home</a>
            <a href="#menu" class="nav-item nav-link">Menu</a>
            <!-- <a herf="https://www.google.com/search?sca_esv=570249222&hl=en-IN&gl=IN&sxsrf=AM9HkKkNj0QhtYkxZOzbd4y4JSLwuycE4Q:1696305904287&q=Arabic+Mandi+Multicuisine+Restaurent&ludocid=17657452288862018514&ibp=gwp;0,7&lsig=AB86z5XYk3dnQIsM2nhK_UEc0TrJ&kgs=a5b8c4b76716e17a&shndl=-1&shem=lbsc,lsp&source=sh/x/kp/local/m1/2" class="nav-item nav-link">Navigate</a> -->
            <a routerLink="combo" class="nav-item nav-link">Combo</a>
          </div>
          <a href="home" class="navbar-brand py-3 px-4 mx-3 d-none d-lg-block">
            <h1 class="fw-bold m-0">Arabic Mandi</h1>
          </a>
          <div class="navbar-nav me-auto py-0">
            <a routerLink="about" class="nav-item nav-link">About</a>
            <!-- <a (click)="navigate('Booking')" class="nav-item nav-link">Team</a> -->
            <a routerLink="dd" class="nav-item nav-link">Booking</a>
            <a (click)="navigate('Contact')" class="nav-item nav-link"
              >Contact</a
            >
          </div>
        </div>
      </nav>
    </div>
    <div
      class="fixed-top"
      style="display: flex; justify-content: space-between"
    >
      <div>
        <button
          class="disable navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </button>
      </div>
      <div>
        <a class="navbar-brand d-lg-none">
          <h1 class="fw-bold m-0">Arabic Mandi</h1>
        </a>
      </div>
    </div>
    <div
      class="offcanvas offcanvas-start"
      data-bs-scroll="true"
      data-bs-backdrop="false"
      tabindex="-1"
      id="offcanvasScrolling"
      aria-labelledby="offcanvasScrollingLabel"
    >
      <div class="offcanvas-header">
        <a class="d-block d-lg-none">
          <h1 class="fw-bold m-0">Arabic Mandi</h1>
        </a>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <div
          class="navbar-collapse justify-content-between py-4 py-lg-0"
          id="navbarCollapse"
        >
          <div class="ms-auto py-0">
            <a
              routerLink="home"
              class="nav-item nav-link"
              data-bs-dismiss="offcanvas"
              >Home</a
            >
            <a
              href="#menu"
              class="nav-item nav-link"
              data-bs-dismiss="offcanvas"
              >Menu</a
            >
            <!-- <a href="#service" class="nav-item nav-link" data-bs-dismiss="offcanvas">Services</a> -->
            <a
              routerLink="combo"
              class="nav-item nav-link"
              data-bs-dismiss="offcanvas"
              >Combo</a
            >
          </div>

          <div class="navbar-nav me-auto py-0">
            <a 
            routerLink="about" 
            class="nav-item nav-link"
            data-bs-dismiss="offcanvas"
            >About</a>
            <!-- <a (click)="navigate('Booking')" class="nav-item nav-link">Team</a> -->
            <a 
            routerLink="gg" 
            class="nav-item nav-link"
            data-bs-dismiss="offcanvas"
            >Booking</a>
            <a (click)="navigate('Contact')" class="nav-item nav-link"
              >Contact</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </body>
  <!-- Footer -->
  <footer id="Contact" class="text-center text-lg-start bg-white text-muted">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="fw-bold mb-4">
              <h1 class="">Arabic Mandi</h1>
              <h4 style="color: rgb(134, 191, 240)">Multicuisine</h4>
              <h6 class="text-secondary">Restaurent</h6>
            </h6>
            <p></p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->

          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Follw Up</h6>
            <p>
              <a
                href="https://jaswanthkrish1.github.io/QrMenuInventary/"
                class="text-reset"
                >MenuCard</a
              >
            </p>

            <p>
              <a href="" class="text-reset"
                ><i class="fa fa-instagram" aria-hidden="true">Instagram</i>
              </a>
            </p>
            <p>
              <a routerLink="help" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>
              <i class="fas fa-home me-3 text-secondary"></i>Sri kalahasti ,
              Arabic mandi Multicuisine Restaurent
            </p>
            <!-- <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>
                        arabic@gmail.com
                    </p> -->
            <p>
              <i class="fas fa-phone me-3 text-secondary"></i> +91 9381531101
            </p>
            <p>
              <i class="fas fa-print me-3 text-secondary"></i> +91 7013833764
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
      <!-- © 2021 Copyright: -->
      <h3>Developed By</h3>
      <a class="text-reset fw-bold" href="">Jaswanth Chowdary</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</html>
