<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body>
  <div class="goBack">
    <mat-icon>arrow_back_ios</mat-icon>
      <a href="/home">Back To Home</a>
    </div>
  <div class="background">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width">
            <input matInput formControlName="username" placeholder="Username" type="text">
            <mat-error *ngIf="loginForm.get('username')!.hasError('required')">Username is required</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput formControlName="password" placeholder="Password" type="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="loginForm.get('password')!.hasError('required')">Password is required</mat-error>
          </mat-form-field>
          <button mat-raised-button color="warn" type="submit">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</body>

</html>