<section class="search_update">
  <mat-form-field >
    <mat-label>Search Item</mat-label>
    <mat-icon matPrefix class="material-icons-outlined">search</mat-icon>
    <input matInput placeholder="Find" [formControl]="searchItems" />
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="onAddItemsClick()">
    {{ update ? 'UpdateItem' : 'AddItem' }}
  </button>
</section>
<br>
<div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>Select</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox (change)="onCheckboxChange($event, element)" [checked]="element.selected"></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">
        <div class="quantity-container" *ngIf="element.selected">
          <input mat-input type="number" min="1" inputmode="numeric" [(ngModel)]="element.quantity"
            (change)="onQuantityChange(element)">
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5]"></mat-paginator>

</div>
